@charset "UTF-8";
/* CSS Document */

body {
	background: #e10d1f;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:700;
	font-size: 20px;
	line-height: 1.4em;
	color: #fff;
}

.main {
	max-width: 700px;
	margin: 0 auto;
}

h1 {
	font-family: 'Cardo', serif;
	font-size: 2.5em;
	text-shadow: 0px 1px 0px #111;
}

h2 {
	font-family: 'Cardo', serif;
	font-size: 1.2em;
	text-shadow: 0px 1px 0px #111;
}

a {
	color:#C00;
} 

a:hover {
	color: #900;
}


a.button {
	background-color: #fff;
	color: #111;
	font-weight:normal;
	font-size:14px;
	line-height:1.2em;
	text-decoration:none;
	border-radius:5px;
	padding: 10px 30px 10px;
	box-shadow: 0px 1px 0px #111;
}

a.button:hover {
	background-color: #F60;
	color: #fff;
}

hr {
	border: 0;
	width: 70%;
	height: 2px; 
	background-color: #fff;
}


blockquote {
	font-style: italic;
	font-size: 22px;
}

footer cite {
	font-style:normal;
	font-size: 20px;
}

input[type="submit"] {
	background-color: #fff;
	color: #111;
	font-weight:normal;
	font-size:14px;
	line-height:1.2em;
	text-decoration:none;
	border-radius:5px;
	padding: 10px 30px 10px;
	border:none;
	outline:none;
	box-shadow: 0px 1px 0px #111;
}

input[type="text"] {
	font-size: 16px;
	border: 2px solid #fff;
	display: block;
	padding: 10px 30px 10px;
	width: 100%;
	outline: none;
	margin: 1em 0;
	border-radius:5px;
	box-shadow: 0px 1px 0px #111;
}

.one {
	float:left; 
	margin-right:20px;
	width:300px;
	border:2px dashed #F60;
	padding:10px;
}

.one h2 {
	margin-top:0;
}

.two { 
	overflow:hidden;
	margin:10px;
	width:300px;
	border:2px dashed #F60;
	
	padding:10px;
}

.two h2 {
	margin-top:0;
}

@media screen and (max-width: 400px) {
.one { 
	float: none;
	margin-right:0;
	margin-bottom:20px;
	width:auto;
  }
.two {
	margin:0;
	width:auto;
}
